.display-wrapper {
    width: min(750px, 90%);
    height: auto;
    margin-inline: auto;
    background-color: transparent;

    font-family: 'roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    overflow-wrap: break-word;
    min-width: 200px;
}

$item-size: 90px;

.item {
    width: $item-size;
    height: $item-size;
    background-color: #fff;
    margin: 0 10px 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: wrap;

    overflow: hidden;
}